.card-title {
  font-family: 'Poppins', sans-serif; /* Fuente estilizada */
  font-weight: bold; /* Negrita */
  font-size: 1.5rem; /* Tamaño de letra */
  color: white; /* Blanco */
  margin: 0; /* Elimina márgenes */
}
 
  h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .table thead {
    background-color: #007bff;
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .btn-warning {
    color: white;
  }
  
  .btn-danger {
    color: white;
  }
  